<div class="container">
  <div id="sidebar">
    <div id="slider">
      <figure>
        <%= image_tag 'one.jpg' %>
        <%= image_tag 'two.jpg' %>
        <%= image_tag 'three.jpg' %>
        <%= image_tag 'four.jpg' %>
        <%= image_tag 'one.jpg' %>
      </figure>
    </div>
  </div>

  <div id="header">
    <h1>Salinero Construction LLC</h1>
  </div>

  <div id="content">
    <p>
      Salinero Construction specializes in Modular Homes, Fiberglass and Concrete Pools, Remodels and Commercial Structures.<br>
      <br>
      Fred Salinero is an unlimited Florida General Contractor, license number CGCA05177. Issued in 1971. Pool license number RP252555314.<br>
      <br>
      Call Renee today for your free estimate. 305-294-7618
    </p>
  </div>

  <div id="footer">
    <h2>External Links</h2>
    <p> <a href="http://sunpools.com/">SunPools</a>  |  <a href="http://www.bluehawaiianfiberglasspools.com/">BlueHawaiianFiberglassPools</a>  |  <a href="http://southernstructuresinc.com/">Southern Structures</a> </p>
  </div>

</div>